<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}" width="32%"/>
    </div>
    <ul class="nav-links">

        <li><a th:href="@{/}">Hjem</a></li>
        <li><a th:href="@{/designCarport}">Design din egen carport</a></li>
        <li><a th:href="@{/inspiration}">Få inspiration</a></li>
        <li><a th:href="@{/aboutOurCarports}">Om vores Carporte</a></li>
        <li><a th:href="@{/login}">Login</a></li>

    </ul>
</nav>
<main class="aboutCarports-container">
    <h3>Om vores Carporte</h3>
    <div class="carport-block">
        <div class="carport-text">
            <h3>Enkelt carport - praktisk beskyttelse til din bil</h3>
            <p>
                En enkelt carport er den ideelle løsning til at beskytte din bil mod vejrets påvirkninger.
                Når du køber en enkelt carport som byg-selv hos Fog får du alle de nødvendige materialer
                og instruktioner med til at at opføre din carport, så du kan nyde den tilpassede konstruktion
                og den stolthed, der kommer af at have bygget den selv
            </p>
            <p>
                Enkelt carporte som byg-selv projekt tilbyder en række fordele, der passer til forskellige
                behov og præferencer. Du kan vælge mellem forskellige størrelser og designs, der harmonerer
                perfekt med din ejendom og stil.
            </p>
            <p>
                Du kan tilpasse carporten efter dine ønsker og følge instruktionerne for at sikre, at den er
                opført korrekt og sikkert. Dette giver dig ikke kun en følelse af tilfredshed
            </p>
            <p></p>

        </div>


    </div>
</main>
</body>
</html>