<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>adminPage1</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}" width="32%"/>
    </div>
    <ul class="nav-links">
        <!--# er placeholder til links routs ind til vi ved vor at det skal føre hen-->
        <li><a th:href="@{/}">Hjem</a></li>
        <li><a th:href="@{/designCarport}">Design din egen carport</a></li>
        <li><a th:href="@{/inspiration}">Få inspiration</a></li>
        <li><a th:href="@{/aboutOurCarports}">Om vores Carporte</a></li>
        <li><a th:href="@{/login}">Logout</a></li>
    </ul>
</nav>

<div class="user-order-container">
    <table class="user-order-table">
        <thead>
        <tr>
            <th>OrderId</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Tlf-nummer</th>
            <th>Adresse</th>
            <th>Status</th>
            <th>Pris</th>
            <th>vis ordre</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${userOrder}">
            <td th:text="${user.orderId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userTlf}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.paidStatus}"></td>
            <td th:text="${user.costPrice}"></td>
            <td>
                <a class="show-order-button" th:href="@{/adminWatchOrders}"></a>
                <a class="show-order-button" th:href="@{/adminPage2}">Vis ordre</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>


</body>
</html>