<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>adminPage1</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}" width="32%"/>
    </div>
    <ul class="nav-links">
        <!--# er placeholder til links routs ind til vi ved vor at det skal føre hen-->
        <li><a th:href="@{/}">Hjem</a></li>
        <li><a th:href="@{/designCarport}">Design din egen carport</a></li>
        <li><a th:href="@{/inspiration}">Få inspiration</a></li>
        <li><a th:href="@{/aboutOurCarports}">Om vores Carporte</a></li>
        <li><a th:href="@{/login}">Logout</a></li>
    </ul>
</nav>


<div class="user-container">
    <table class="user-order-table">

        <thead>
        <tr>
            <th>OrderId</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Tlf-nummer</th>
            <th>Adresse</th>
            <th>Carport længde</th>
            <th>Carport bredde</th>
            <th>vis ordre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userOrders}">
            <td th:text="${user.orderId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userTlf}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.length}"></td>
            <td th:text="${user.width}"></td>
            <td>
                <form method="post" th:action="@{/adminPage2}">
                    <input type="hidden" name="userId" th:value="${user.userId}">
                    <button type="submit" class="show-order-button">Vis bruger</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>