<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>ChangeUserOrder</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}" width="32%"/>
    </div>
    <ul class="nav-links">
        <!--# er placeholder til links routs ind til vi ved vor at det skal føre hen-->
        <li><a th:href="@{/index}">Hjem</a></li>
        <li><a th:href="@{/designCarport}">Design din egen carport</a></li>
        <li><a th:href="@{/inspiration}">Få inspiration</a></li>
        <li><a th:href="@{/aboutOurCarports}">Om vores Carporte</a></li>
        <li><a th:href="@{/login}">Logout</a></li>
    </ul>
</nav>

<div class="change-order-container">
    <div class="orderId"><h4><span th:text="${userDTO.orderId}"></span></h4></div>
    <div class="userName"><h5><span th:text="${userDTO.userName}"></span></h5></div>

    <div class="selector2">
    <select name="length">
        <option selected>Længde</option>
        <option value="240">240</option>
        <option value="270">270</option>
        <option value="300">300</option>
        <option value="330">330</option>
        <option value="360">360</option>
        <option value="390">390</option>
        <option value="420">420</option>
        <option value="450">450</option>
        <option value="480">480</option>
        <option value="510">510</option>
        <option value="540">540</option>
        <option value="570">570</option>
        <option value="600">600</option>
        <option value="450">630</option>
        <option value="480">660</option>
        <option value="510">690</option>
        <option value="540">720</option>
        <option value="570">750</option>
        <option value="600">780</option>
    </select>

    <select name="width">
        <option selected>Bredde</option>
        <option value="240">240</option>
        <option value="270">270</option>
        <option value="300">300</option>
        <option value="330">330</option>
        <option value="360">360</option>
        <option value="390">390</option>
        <option value="420">420</option>
        <option value="450">450</option>
        <option value="480">480</option>
        <option value="510">510</option>
        <option value="540">540</option>
        <option value="570">570</option>
        <option value="600">600</option>
    </select>
</div>

   <form method="post" class="user-order-form" th:action="@{/saveTheChanges}">
       <input type="hidden" th:name="userId" th:value="${userId}">

       <input th:value="${user.userName}" type="text" name="userName" placeholder="Navn" class="name-user">
       <input th:value="${user.costPrice}" type="text" name="costPrice" placeholder="Pris" class="price-of-order">
       <input th:value="${user.userEmail}"  type="email" name="userEmail" placeholder="E-mail" class="email-user">
       <input th:value="${user.userTlf}" type="text" name="userTlf" placeholder="Tlf-nummer" class="tlf-user">
       <input th:value="${user.address}" type="text" name="address" placeholder="Adresse" class="address-user">

       <button type="submit" formaction="/saveChangeAdminPage1" class="save-changes-button">Gem ændringer</button>
   </form>



</div>
</body>
</html>