<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CustomerPage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}" width="32%"/>
    </div>
    <ul class="nav-links">

        <li><a th:href="@{/}">Hjem</a></li>
        <li><a th:href="@{/designCarport}">Design din egen carport</a></li>
        <li><a th:href="@{/inspiration}">Få inspiration</a></li>
        <li><a th:href="@{/aboutOurCarports}">Om vores Carporte</a></li>
        <li><a th:href="@{/login}">Logout</a></li>
    </ul>
</nav>

<div class="change-order-container">
    <form th:action="@{/customerPage}" method="get"></form>
    <div class="form-wrapper">
        <h2>Her er dine oplysninger</h2>

        <p><strong>Navn:</strong> <span th:text="${currentUser.userName}">Navn</span> </p>
        <p><strong>Email:</strong> <span th:text="${currentUser.userEmail}">Email</span> </p>
        <p><strong>Adresse:</strong> <span th:text="${currentUser.address}">780</span> </p>
        <p><strong>Tlf:</strong> <span th:text="${currentUser.userTlf}">Tlf</span> </p>

        <p><strong>Længde:</strong> <span th:text="${order.length}">780</span> cm</p>
        <p><strong>Bredde:</strong> <span th:text="${order.width}">780</span> cm</p>
        <p><strong>Pris:</strong> <span th:text="${order.costPrice}">780</span> kr.</p>


        <button type="submit" class="save-chanages-button">Se stykliste</button>

    </div>

</div>
</body>
</html>