<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Login page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="../public/images/fog_logo.png" th:src="@{/images/fog_logo.png}" width="32%"/>
    </div>
    <ul class="nav-links">
        <!--# er placeholder til links routs ind til vi ved vor at det skal føre hen-->
        <li><a th:href="#">Hjem</a></li>
        <li><a th:href="#">Design din egen carport</a></li>
        <li><a th:href="#">Få inspiration</a></li>
        <li><a th:href="#">Om vores Carporte</a></li>
        <li><a th:href="#">Login</a></li>
    </ul>
</nav>

<div class="login-container">
    <h2>Login</h2>
<form method="post" class="login-form">
    <input type="text" name="username" placeholder="Indtast brugernavn" class="user-login-field" required>
    <input type="password" name="password" placeholder="Indtast kodeord" class="code-login-field" required>

    <button type="submit" formaction="/login" class="login-button">Login</button>
    <div><p th:text="${message}"></p></div>
</form>
</div>
</body>
</html>