/***** Frontpage *****/
body, h1, ul, li{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #ffffffff;
}

.navbar{
    background-color: #164986;
    color: #ffff;
    padding: -3px 20px;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    gap: 5rem;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 7%;
    left: 22%;
    margin-top: 0.5rem;

}

.nav-links a{
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover{
    text-decoration: underline;
    cursor:pointer;
}

@media (max-width: 50px) {
    .nav-links {
        top: 30%;  /* Juster placeringen lidt højere på små skærme */
        left: 50%;  /* Centrer linksene */
        transform: translateX(-50%);  /* Kun horisontal centrering på små skærme */
    }
}

/* main content */
.content{
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1{
    color: #164986;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 25px;
    text-align: center;
}

.front-page-carport{
    width: 80%;
    max-width: 420px;
    border-radius: 5px;
    height: auto;
    margin-top: 1.5rem;
}
.get-started{
    background-color: #164986;
    color: white;
    border: none;
    padding: 1rem 2rem;
    margin-top: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}

.get-started:hover{
    background-color: #b6c8de;
    color: #272b30;
}

/***** Login page *****/
body{
    margin: 0;
    padding: 0;
}

.login-container{
    width: 400px;
    height: 270px;
    margin: 1rem auto;
    background-color: #ededed;
    padding: 170px 505px;
    border-radius: 5px;
}

.login-container h2{
    color: #164986;
    align-items: center;
    transform: translate(30%, -400%);
}

.login-field{
    width: 60%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    border-color: rgb(0,0,0,0);
    text-align: left;
    transform: translate(6%, -140%);
    font-size: 17px;
}

input::placeholder{
    background-color: white;
    color: #bababa;
}

.login-button{
    background-color: #164986;
    color: white;
    border: none;
    padding: 1rem 4rem;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    transform: translatey(-75px);
    margin-left: 70px;
    cursor: pointer;
}

.login-button:hover{
    background-color: #b6c8de;
    color: #272b30;
}

/***** About our Carports *****/
